*.nc
umat
vcal
vfind
visual
vsom
x.asc
x.cod
xI.cod
xI.sam
xII.cod
xII.sam
xII.vis
xII_sa.ps
xI_sa.ps
*.exe
fort.*
ferret.jnl
*~ 
iused_idx.dat
lininit
mapinit
pca.cdl
planes
qerror
randinit
sammon
som.cdl
*.vis

